@media only screen and (max-width: 1024px) {
  /* Galaxy Note 4,iPad Air, Galaxy Tab 2 10.1 (Portrait & Landscape), Galaxy Nexsus 7 (Landscape), KIndle Fire (Landscpae),Kindle fire hd 7"(landscape),Kindle Fire HD 8.9 (Portrait & Landscape) */
  .bg {
    height: 500px;
  }
  .logo img {
    margin-top: 60px;
    margin-left: 30px;
  }
  .headcontent {
    margin-top: 0px;
  }
  .headcontent h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .headcontent p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  /* iPad Air (Portrait) */
  .bg {
    height: 450px;
  }
  .logo img {
    margin-top: 60px;
    margin-left: 85px;
  }
  .headcontent {
    margin-top: 0px;
  }
  .headcontent h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .headcontent p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 732px) and (max-width:740px) {
  /* iPhone 6 plus (Landscape) */
  .bg {
    height: 648px;
  }
  .logo img {
    max-width: 30%;
    margin-top: 55px;
    margin-left: 30px;
  }
  .headcontent {
    margin-top: 600px;
    text-align: center;
  }
  .headcontent h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .headcontent p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 690px) {
  /* iPhone 6, Nexsus 6 LANDSCAPE */
  .bg {
    height: 610px;
  }
  .logo img {
    max-width: 30%;
    margin-top: 59px;
    margin-left: 90px;
  }
  .headcontent h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .headcontent {
    margin-top: 600px;
    text-align: center;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .btn_m {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 640px) {
  /* iPhone 5, Galaxy 6, Xperia Z3, Lumia 920, Galaxy Note 3, Galaxy Nexsus 7, Kindle FIre (Portrait), Kindle fire HD 7" (POrtrait) */
  .bg {
    height: 610px;
  }
  .logo img {
    max-width: 30%;
    margin-top: 59px;
    margin-left: 90px;
  }
  .headcontent h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .headcontent {
    margin-top: 600px;
    text-align: center;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .btn_m {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 480px) {
  /* iphone 6, iphone 5, iPhone 4 (Potrait & Landscape), Galaxy 6, Xperia Z3, Lumia 920, Nexsus 6, iPhone 6 plus, Galaxy Note 4, Galaxy note 2 POTRAIT */
  .bg {
    height: 300px;
  }
  .logo img {
    max-width: 30%;
    margin-top: 30px;
    margin-left: 30px;
  }
  .headcontent h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .headcontent {
    margin-top: 280px;
    text-align: center;
  }
  .headcontent h1:after {
    margin-left: 0;
  }
  .btn_m {
    margin-top: 35px;
  }
}
