@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid;
}

a:link a:active, a:visited, {
  text-decoration: none !important;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 700;
}

.section-padding {
  margin: 80px 0;
}

.service-padding {
  margin: 50px 0;
}

.header-bg {
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.header_area h3 {
  font-weight: 900;
  font-size: 33px;
  position: relative;
}

.header_area h3:after {
  position: absolute;
  width: 100%;
  height: 10px;
  content: "";
  background-image: url(./assets/img/header-titleshape.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 45px;
  bottom: 10px;
}

.header_area p {
  color: #08294c;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 30px;
}

a.pri_btn {
  display: inline-block;
  background: none;
  padding: 10px 10px;
  width: 125px;
  color: #0f81f8;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #0f81f8;
  margin-right: 5px;
  box-shadow: 0px 0px 2px 0px;
  text-shadow: -2px 2px 0px #ddd;
  margin-top: 20px;
  transition: 0.3s;
}
a.pri_btn:hover {
  background: #0F81F8;
  color:#fff;
  text-shadow: none;
}
.header_area {
  margin-top: 60px;
}
.logo {
  margin-top: 30px;
}
