@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid;
}

a:link a:active, a:visited, {
  text-decoration: none !important;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 700;
}

.section-padding80 {
  padding: 80px 0;
}

.service-margin50 {
  margin: 50px 0;
}


/*===========================================*/

.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
  background-color: #0e7ff5;
}

.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
  background-color: #0f82f9;
}


/*============================================*/

.header-bg {
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.header_area h3 {
  font-weight: 900;
  font-size: 33px;
  position: relative;
}

.header_area h3:after {
  position: absolute;
  width: 100%;
  height: 10px;
  content: "";
  background-image: url(./assets/img/header-titleshape.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 45px;
  bottom: 10px;
}

.header_area p {
  color: #08294c;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 30px;
}

a.pri_btn {
  display: inline-block;
  background: none;
  padding: 10px 10px;
  width: 125px;
  color: #0f81f8;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #0f81f8;
  margin-right: 5px;
  box-shadow: 0px 0px 2px 0px;
  text-shadow: -2px 2px 0px #ddd;
  margin-top: 20px;
  transition: 0.3s;
}

a.pri_btn:hover {
  background: #0F81F8;
  color: #fff;
  text-shadow: none;
}

.header_area {
  margin-top: 60px;
}

.logo {
  margin-top: 30px;
}

.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 900;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  display: block;
  padding: 30px;
  font-size: 16px;
  color: #000;
}

.social-icons {
  border-left: 1px solid #ddd;
  padding-left: 39px;
  margin-top: 30px;
}

.social-icons a {
  display: inline-block;
  padding-right: 23px;
}

.mainmenu li.active a {
  color: #ff0000;
  text-decoration: none;
}

.service-head-text h4:after {
  background-image: url(./assets/img/service-title-shape.png);
  position: absolute;
  content: "";
  width: 370px;
  height: 7px;
  left: 50%;
  top: 50%;
  background-size: cover;
  margin-top: 25px;
  margin-left: -185px;
}

.service-head-text {
  text-align: center;
}

.service-head-text h4 {
  font-size: 22px;
  font-weight: 700;
  color: #0F81F8;
  position: relative;
  margin-bottom: 45px;
}

.service-head-text p {
  color: #89929E;
  font-size: 13px;
}

.single-service img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-bottom: 18px;
}

.service-section {
  margin-top: 50px;
}

.single-service p {
  padding-left: 15px;
  color: #8D95A1;
  font-size: 13px;
  font-weight: 400;
}

.trynow a {
  background: #0F81F8;
  color: #fff;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  margin-top: 45px;
}

.video-right h4:after {
  background-image: url(./assets/img/video-shape.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  content: "";
  width: 320px;
  height: 7px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: 25px;
}

.video-area {
  background: #1380F0;
  padding: 100px;
}

.video-right {
  color: #fff;
  padding: 0 15px;
  margin-top: 105px;
}

.video-right h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 35px;
  position: relative;
}

.white-btn {
  background: #fff;
  display: inline-block;
  color: #569BF9;
  padding: 7px 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 50px;
}


/*Multiple Box Shadow*/

.first-video-box {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.50), 20px 20px 0px 0px rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2;
}

.first-video-box:after {
  background-image: url(./assets/img/video-background.jpg);
}

p.video-play-btn {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 45%;
}

p.video-play-btn i {
  width: 50px;
  height: 50px;
  background: #0F81F8;
  text-align: center;
  line-height: 50px;
  padding-left: 5px;
  font-size: 20px;
  color: #fff;
  border-radius: 50px;
}

.first-video-box:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.09;
}

.market-area {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 0;
  background: #FAFAFA;
}

.brand-logo {
  flex: 1;
}

.brand-item img {
  display: inline-block;
  width: 100px;
  height: auto;
}

.brand-item {
  text-align: center;
}

.testimonial-title h4:after {
  background-image: url(./assets/img/service-title-shape.png)
}

.testimonial-title h4 {
  position: relative;
  z-index: 2;
  color: #0F81F8;
  font-size: 40px;
  margin-bottom: 45px;
}

.testimonial-title h4:after {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 370px;
  margin-left: -185px;
  height: 7px;
  content: "";
}

.testimonial-title p span {
  color: #5A9DF9;
  font-weight: 600;
}

.testimonial-title p {
  margin-bottom: 46px;
}

.testimonial-big-content {
  overflow: hidden;
  padding: 0 50px 50px;
  box-shadow: 2px 0px 1px 1px #F3F3F3, -2px 0px 1px 1px #F3F3F3, 2px -2px 1px 1px #F3F3F3, 1px 3px 1px 1px #F3F3F3;
  margin-right: 25px;
  min-height: 315px;
  position: relative;
  width: 100%;
}

.testimonial-big-content:after {
  left: 100%;
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #FFFDFC;
  border-width: 31px;
  margin-top: 0px;
}

.testimonial-big-content img {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.star-content {
  display: inline-block;
}

.testimonial-big-content h5 {
  margin-top: 45px;
  font-size: 17px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.star-content i {
  color: #0F81F8;
  font-size: 14px;
  padding-right: 15px;
}

.testimonial-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.testimoni-list-item {
  margin-left: 15px;
  float: right;
  flex: 1;
  margin-top: 8px;
}

.testimonial-list img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
}

.testimoni-list-item h5 {
  font-size: 14px;
  margin-bottom: 6px;
}

.testimoni-list-item h6 {
  font-size: 11px;
  font-weight: 500;
  color: #ABB0B9;
}

.testimonial-list {
  display: flex;
}

.testimonial-list {
  margin-top: 20px;
  margin-left: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

.testimonial-items li {
  opacity: 0.3;
  position: relative;
}

.testimonial-items li.active {
  opacity: 1;
}

.testimonial-items li.active:before {
  opacity: 1;
}

.testimonial-items li:before {
  left: -30px;
  top: 18px;
  border: solid rgba(255, 255, 255, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #F3F3F3;
  border-width: 25px;
  margin-top: 0px;
  opacity: 0;
}

.team-head-title {
  position: relative;
  z-index: 2;
}

.team-head-title h2 {
  font-size: 32px;
  color: #0F81F8;
  margin-bottom: 40px;
  position: relative;
}

.team-head-title h2:after {
  position: absolute;
  width: 183px;
  height: 7px;
  content: "";
  top: 100%;
  left: 50%;
  background-image: url(./assets/img/team-shape.png);
  margin-left: -91.5px;
  margin-top: 10px;
}

.team-head-title p {
  margin-bottom: 50px;
  color: #59697E;
  font-size: 12px;
}

.single-team-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.single-team-box h5 {
  color: #08294C;
  font-size: 15px;
  margin-bottom: 5px;
}

.team-social-link a {
  display: inline-block;
  padding: 15px 8px 15px 0;
  font-size: 11px;
}

.team-social-link i {
  width: 25px;
  height: 25px;
  border: 1px solid #DCE5E9;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  background: #DCE5E9;
  border-radius: 25px;
  color: #fff;
  transition: 0.3s;
}

.team-social-link i:hover {
  color: #000;
}

.teams-title {
  text-align: center;
  margin-bottom: 15px;
}

.teams-title h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1px;
}

.teams-title p {
  font-size: 13px;
}

.single-team-box p {
  font-size: 13px;
}

.contact-bg:after {
  background-image: url(./assets/img/contact-us-bg.jpg);
}

.contact-bg {
  position: relative;
  z-index: 3;
  color: #fff;
}

.contact-bg:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center;
  content: "";
  background-size: cover;
  z-index: -1;
}

.contact-bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #0F81F8;
  opacity: 0.92;
}

.form-title h2:after {
  background-image: url(./assets/img/contact-shape.png);
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-top: 40px;
  text-transform: capitalize;
}

.contact-form textarea {
  padding: 43px 0 0 0px;
}

.checkbox-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 0px 20px;
}

.checkbox-btn p {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.send-btn {
  float: right;
  display: inline-block;
  background: #fff;
  color: #0F81F8;
  padding: 10px 60px;
  margin-top: 22px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

a.send-btn {}

a.send-btn:hover {
  color: #0F81F8;
}

.form-title h2 {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}

.form-title h2:after {
  position: absolute;
  width: 209px;
  height: 7px;
  top: 40px;
  left: 50%;
  margin-left: -104.5px;
  content: "";
}

.contact-form input[type=text]::-webkit-input-placeholder, .contact-form input[type=email]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.contact-form input[type=text]::-moz-placeholder, .contact-form input[type=email]::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.contact-form input[type=text]:-ms-input-placeholder, .contact-form input[type=email]:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.contact-form input[type=text]:-moz-placeholder, .contact-form input[type=email]:-moz-placeholder, .contact-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.footer-area {
  background: #08294C;
  color: #fff;
}

.footer-logo img {
  margin-bottom: 50px;
}

.list-one ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-one li {
  padding-bottom: 15px;
}

.footer-social-links {
  margin-top: 45px;
}

.footer-social-links a {
  display: inline-block;
  padding-right: 5px;
  color: #000;
  transition: 0.3s;
}

.footer-social-links i {
  width: 30px;
  height: 30px;
  background: #48627B;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
}

.footer-social-links a:hover {
  color: #fff;
}
