@media only screen and (min-width: 992px) and (max-width: 1198px) {
  .mainmenu li a {
    padding: 20px;
    font-size: 14px;
    margin-top: 12px;
  }
  .social-icons {
    padding-left: 10px;
  }
  .header_area h3 {
    font-size: 25px;
  }
  .header_area h3:after {
    width: 65%;
    left: 75px;
    bottom: 6px;
  }
  .footer-social-links a {
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding80 {
    padding: 40px 0;
  }
  .header-menu {
    text-align: center;
  }
  .mainmenu li {
    margin-bottom: -30px;
  }
  .mainmenu li a {
    padding: 15px;
    font-size: 14px;
    margin-top: 16px;
  }
  .social-icons {
    border-left: none;
    text-align: center;
  }
  .header_area {
    text-align: center;
    padding-left: 260px;
  }
  .header_area h3:after {
    left: 0;
    bottom: -20px;
  }
  .header_area h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .service-section {
    overflow: hidden;
  }
  .single-service {
    float: left;
    width: 33.33334%;
  }
  .video-area {
    padding: 40px 10px;
  }
  .first-video-box {
    width: 95%;
    height: 330px;
  }
  .video-right {
    margin-top: 50px;
  }
  .testimonial-items li:before {
    display: none;
  }
  .single-team-box {
    text-align: center;
  }
  .footer-logo p {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .footer-social-links {
    text-align: center;
  }
  .mainmenu {
    display: inline-block;
  }
  .logo {
    float: left;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .section-padding80 {
    padding: 40px 0;
  }
  .header-menu {
    text-align: center;
  }
  .mainmenu li {
    margin-bottom: -30px;
  }
  .social-icons {
    border-left: none;
    text-align: center;
  }
  .header_area {
    text-align: center;
  }
  .header_area h3:after {
    left: 0;
    bottom: -20px;
  }
  .header_area h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .service-section {
    overflow: hidden;
  }
  .single-service {
    float: left;
    width: 33.33334%;
  }
  .video-area {
    padding: 40px 10px;
  }
  .first-video-box {
    width: 95%;
    height: 330px;
  }
  .video-right {
    margin-top: 50px;
  }
  .testimonial-items li:before {
    display: none;
  }
  .single-team-box {
    text-align: center;
  }
  .footer-logo p {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .footer-social-links {
    text-align: center;
  }
  .mainmenu {
    display: inline-block;
  }
  .logo {
    float: left;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .section-padding80 {
    padding: 40px 0;
  }
  .mainmenu ul {
    text-align: center;
  }
  .mainmenu li a {
    padding: 10px;
    font-size: 12px;
  }
  .social-icons {
    text-align: center;
    border-left: none;
  }
  .header_area {
    text-align: center;
  }
  .header_area h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  .header_area h3:after {
    left: 0px;
    bottom: -15px;
  }
  .service-head-text h4:after {
    width: 98%;
    left: 0;
    margin-left: 0;
  }
  .video-area {
    padding: 30px 0;
  }
  .first-video-box {
    width: 95%;
    height: 250px;
    padding-left: 0;
    margin-left: 0;
  }
  .video-right {
    margin-top: 60px;
  }
  .video-right h4:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .testimonial-title h4:after {
    left: 0;
    width: 100%;
    margin-left: 0;
    content: "";
    background-size: cover;
    background-position: center;
  }
  .testimonial-items li:before {
    opacity: 0;
    visibility: hidden;
  }
  .single-team-box {
    text-align: center;
  }
  .footer-logo img {
    margin-bottom: 10px;
  }
  .footer-logo p {
    margin-bottom: 25px;
  }
  .footer-social-links {
    margin-top: 20px;
  }
}
